body {
  background: #eff1fa;
  font-family: "Inter", sans-serif;
}

.logo-imagen {
  width: 120px;
  margin: 40px;
}

.contenedor-input {
  width: 680px;
  word-wrap: break-word;
}
.input-texto {
  width: 680px;
  height: 300px;
  position: absolute;
  left: 240px;
  top: 168px;
  background-color: #eff1fa;
  border: none;
  outline: none;
  font-size: 32px;
  color: #0a3871;
}
.input-texto::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 32px;
  color: #0a3871;
}

.texto-alerta {
  position: absolute;
  width: 329px;
  height: 18px;
  left: 260px;
  top: 771px;
}

.botones {
  width: 680px;
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 24px;

  position: absolute;
  left: 240px;
  top: 805px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-encriptar {
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  background-color: #0a3871;
  color: white;
  border: 1px solid #0a3871;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-encriptar:hover {
  transform: scale(1.1);
}

.btn-desencriptar {
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  font-size: 16px;
  color: #0a3871;
  cursor: pointer;
  transition: 0.3s all;
}
.btn-desencriptar:hover {
  transform: scale(1.1);
}

.btn-copiar {
  width: 336px;
  height: 67px;
  padding: 24px;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  margin: 32px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-copiar:hover {
  transform: scale(1.1);
}

.contendor-textarea {
  position: absolute;
  width: 400px;
  height: 800px;
  left: 1400px;
  top: 80px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.imagen-munheco {
  width: 336px;
  height: 304px;
  margin: 203px 32px 32px 32px;
}

.contenedor-descripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 16px;

  width: 336px;
  height: 122px;
  text-align: center;
}

.contenedor-descripcion h1 {
  font-size: 24px;
  color: #343a40;
  font-weight: bold;
}

.contenedor-descripcion p {
  font-size: 16px;
  color: #495057;
}

.textarea-display {
  width: 336px;
  height: 600px;
  border: none;
  outline: none;
  margin: 32px;
  color: #495057;

  font-size: 24px;
  line-height: 150%;
}

footer {
  position: absolute;
  right: 230px;
  bottom: 30px;
}
/** responsive */

@media only screen and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 2) {
  .input-texto {
    left: 40px;
    top: 240px;
  }
  .texto-alerta {
    left: 40px;
    top: 576px;
  }
  .botones {
    left: 40px;
    top: 606px;
  }
  .contendor-textarea {
    width: 688px;
    height: auto;
    left: 40px;
    top: 701px;
  }

  .imagen-munheco {
    display: none;
  }

  .contenedor-descripcion {
    align-items: center;
    width: 624px;
    height: 69px;
    padding: 32px;
  }

  .textarea-display {
    width: 624px;

    height: 100px;
  }

  .btn-copiar {
    width: 624px;
    height: 19px;
    padding-bottom: 40px;
  }

  footer {
    display: none;
  }
}

@media only screen and (max-device-width: 375px) and (-webkit-device-pixel-ratio: 2) {
  .logo-imagen {
    position: relative;
    left: -50px;
  }
  .input-texto {
    width: 343px;
    height: 300px;
    left: 16px;
    top: 152px;
  }
  .texto-alerta {
    font-size: 12px;
    width: 229px;
    height: 18px;
    left: 16px;
    top: 451px;
  }
  .botones {
    flex-direction: column;
    width: 343px;
    height: 158px;
    left: 24px;
    top: 485px;
  }
  .contendor-textarea {
    width: 327px;
    left: 24px;
    top: 707px;
    padding-bottom: 30px;
  }

  .contenedor-descripcion {
    align-items: center;
    width: 263px;
  }

  .textarea-display {
    width: 279px;

    height: 300px;
  }

  .btn-copiar {
    width: 263px;
    height: 19px;
    padding-bottom: 40px;
  }
}
